.footer {
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media (max-width: 1024px){
  .footer {
    width: 91%;
  }
}

@media (max-width: 698px){
  .footer {
    flex-direction: column;
  }
}

